.container{
  height: 100vh;
  display: flex;
  position: relative;
  /* background-color: aquamarine; */
}
.showCreate{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: aquamarine;
  padding: 2rem;
  border-radius: 8px;
}
.inner{
  display: flex;
  /* border-bottom: 1px solid black; */
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.calender{
  display: flex;
}